<div class = "edit_movies_wrapper">
  <% content_for :title, "Editing movie" %>

  <h1>Editing movie</h1>

  <%= render "form", movie: @movie %>

  <br>

  <div class="movie-links">
    <%= link_to "Show this movie", @movie, class: "show-movie-link" %> |
    <%= link_to "Back to movies", movies_path, class: "back-to-movies-link" %>
  </div>
</div>

